@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}


/* .section {} */

.section-header {
  padding: 20px;
}

.section-heading {
  margin-bottom: 30px;
}

.control-forms {
  display: flex;
}

.filter-form,
.sort-form {
  flex-grow: 1;
  width: 50%;
}

.filter-form-fieldset,
.sort-form-fieldset {
  border: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}


.filter-form-fieldset:last-child,
.sort-form-fieldset:last-child {
  margin-bottom: 0;
}

/* .filter-form {}
.filter-form-fieldset {}
.filter-form-input-label {}
.filter-form-text-input {}

.sort-form {}
.sort-form-fieldset {}
.sort-form-input-label {}
.sort-form-select-input {} */


.character-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.character-card {
  border: 2px solid #96d0e4;
  box-shadow: 6px 6px #96d0e4;
  margin: 1.5%;
  padding: 20px;
  text-align: center;
  width: 30%;
}

.character-card-image {
  border-radius: 80px;
  margin-bottom: 20px;
}

/* .character-card-heading {} */

.character-card-body {
  margin: 0 auto;
  text-align: left;
  width: 66%;
}

.character-card-copy {
  font-weight: 300;
}

.no-results-message {
  padding: 20px;
}

.pagination-controls {
  text-align: center;
}

.pagination-controls-btn {
  background-color: #fe9438;
  border: none;
  color: #FB4300;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin: 15px;
  padding: 10px 15px;
  text-transform: uppercase;
}

.pagination-controls-btn:hover {
  background-color: #fab143;
}

.pagination-controls-pagination-status {
  display: inline-block;
  font-size: 16px;
}

/* .pagination-controls-btn {} */

.data-cards {
  display: flex;
  flex-wrap: wrap;
}

.data-card {
  border: 2px solid #96d0e4;
  box-shadow: 6px 6px #96d0e4;
  margin: 1%;
  padding: 20px;
  width: 48%;
  flex-grow: 1;
}

/* .data-card-heading {}
.data-card-list {} */